<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">ReiGn Gaming</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#timeline">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#staff">Staff</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#competitive">Competitive</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a>|</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalTeamspeak">TeamSpeak</a>
                    </li>
                    <li>
                        <a href="http://forums.reign-gaming.co.uk">Forums</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To ReiGn Gaming</div>
                <div class="intro-heading">We're currently recruiting for CS:GO</div>
                <a href="#about" class="page-scroll btn btn-xl">See More</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">About Our Clan</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our TeamSpeak</h4>
                    <p class="text-muted">Join our TeamSpeak to meet some of our members! Contact a member of staff or visit our forums if you need help joining! <a href="ts3server://91.121.153.92port=9987">ts3.reign-gaming.co.uk</a></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Steam Groups</h4>
                    <p class="text-muted">Feel free to join our public steam group! <a href="https://steamcommunity.com/groups/ReiGnIsWinningPub">Public Group </a> Or ask to be invited to our private steam group when accepted into the clan! <a href="http://steamcommunity.com/groups/ReiGnIsWinning">Private Group</a></p>
                </div>
            </div>
        </div>
    </section>


    <!-- Timeline Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">The timeline of our clan...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://vignette1.wikia.nocookie.net/starwars/images/f/f4/RC_soundtrack_cover.jpg/revision/latest?cb=20080828153532" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Star Wars Republic Commando</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ReiGn was established in 2013 by Lucifer, Drift, Ironhide and Aphex. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="http://gamemagaz.ru/uploadedFiles/eshopimages/big/1001.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2014</h4>
                                    <h4 class="subheading">Counter-Strike</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ReiGn moved on to other games in 2014. We had 4 core divisions including RepCom, TF2, Alien Swarm, CS:GO. Avid was appointed leadership with Lucifer as the other 3 leaders stepped down. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7e/7eedeef593c07231e56f3fbb618c84e90c248e79_full.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 +</h4>
                                    <h4 class="subheading">Current</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ReiGn currently only has one division, which is CS:GO. ReiGn has gone through a number of teams and currently has a professional team competing in multiple tournaments. Due to Avid's departure Mazie was promoted to leadership to play the role that Avid had previously played. The ReiGn Competitive CS:GO team was finalsied on the 26th of April.
                                    </p>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Staff Section -->
        <section id="staff" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">The Staff</h2>
                        <h3 class="section-subheading text-muted">The ReiGn Gaming Staff</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/27/2782ce5a8a91a716869855f806f7a1cddd27e157_full.jpg" class="img-responsive img-circle" alt="">
                            <h4>Lucifer Morningstar</h4>
                            <p class="text-muted">Leadership</p>
                            <p><a href="https://steamcommunity.com/id/chlociferdeckstar">https://steamcommunity.com/id/chlociferdeckstar</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ff/ffe7ba32e02b08ebf078b217ea54a71ef49dcb25_full.jpg" class="img-responsive img-circle" alt="">
                            <h4>Mazie</h4>
                            <p class="text-muted">Leadership</p>
                            <p><a href="https://steamcommunity.com/id/nekomae">https://steamcommunity.com/id/nekomae</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a6/a6f0d236f31f939a74e69e4df57030ae78dfcc3c_full.jpg" class="img-responsive img-circle" alt="">
                            <h4>Buccolt</h4>
                            <p class="text-muted">Lead Admin</p>
                            <p><a href="https://steamcommunity.com/profiles/76561198035666198">https://steamcommunity.com/profiles/76561198035666198</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8c/8c995f57339d2a5d85be3544c1effc350b60bd20_full.jpg" class="img-responsive img-circle" alt="">
                            <h4>Fatality</h4>
                            <p class="text-muted">Division General</p>
                            <p><a href="https://steamcommunity.com/id/fataa">https://steamcommunity.com/id/fataa</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9e/9e655d8008b67bf0cd246c9d7d307b1c84449e6e_full.jpg" class="img-responsive img-circle" alt="">
                            <h4>Drift</h4>
                            <p class="text-muted">Community Admin</p>
                            <p><a href="https://steamcommunity.com/id/drifticus">https://steamcommunity.com/id/drifticus</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                       <div class="team-member">
                        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/14/1428b5f80373fa7f28aa31eef1c512fd123b42cc_full.jpg" class="img-responsive img-circle" alt="">
                        <h4>Yellow Thunder</h4>
                        <p class="text-muted">Community Moderator</p>
                        <p><a href="https://steamcommunity.com/id/yellowthunder">https://steamcommunity.com/id/yellowthunder</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Competitive Section -->
<section id="competitive">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ReiGn CS:GO Competitive Team</h2>
                <h3 class="section-subheading text-muted">
                    The ReiGn CS:GO Competitive Team Roster
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>DvLynn</h4>
                    <p class="text-muted">IGL / Support</p>
                    <p><a href="https://steamcommunity.com/id/Lynn-o-Saurus">https://steamcommunity.com/id/Lynn-o-Saurus</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>Kubz</h4>
                    <p class="text-muted">Lurk / Support</p>
                    <p><a href="https://steamcommunity.com/id/Kubawo">https://steamcommunity.com/id/Kubawo</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>RoAd</h4>
                    <p class="text-muted">Entry</p>
                    <p><a href="https://steamcommunity.com/profiles/76561198011025302">https://steamcommunity.com/profiles/76561198011025302</a></p>
                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>RiseHeaven</h4>
                    <p class="text-muted">Rifler</p>
                    <p><a href="http://steamcommunity.com/profiles/76561198069903094">http://steamcommunity.com/profiles/76561198069903094</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <h4>Rasko</h4>
                    <p class="text-muted">AWP / Entry</p>
                    <p><a href="https://steamcommunity.com/id/razco">https://steamcommunity.com/id/razco</a></p>
                </div>
            </div>
            <div class="col-sm-2">&nbsp;</div> <!-- End of team line 2 -->
              <div class="col-sm-4">
                <div class="team-member">
                    &nbsp;
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7c/7c5e51879ba30b9a8ccb4cff83ca946e8c383876_full.jpg" class="img-responsive img-circle" >
                </div>
            </div> <!-- We have 4 columns of working centered space -->
              <div class="col-sm-4">
                <div class="team-member">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">To contact a member of staff either visit our forums, teamspeak, add a staff member on steam or contact us at <a href="mailto:media@reign-gaming.co.uk">media@reign-gaming.co.uk</a></h3>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; ReiGn Gaming 2013 - 2016</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal: TeamSpeak 3 Viewer -->
    <div id="modalTeamspeak" class="modal fade" role="dialog">
      <div class="modal-dialog" style="overflow-y: initial !important">  
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ReiGn TeamSpeak 3 Viewer</h4>
            </div>
            <div class="modal-body" style="width: auto; height: 500px; overflow-y: auto !important;">
                <div id="ts3viewer_1082312" style="color: red;"> </div>
                    <script src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
                    <script>
                        var ts3v_url_1 = "https://www.tsviewer.com/ts3viewer.php?ID=1082312&text=666666&text_size=11&text_family=6&text_s_color=000000&text_s_weight=bold&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=000000&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=italic&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=000000&text_i_weight_h=bold&text_i_style_h=italic&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=italic&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=italic&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default_mono_2014";
                        ts3v_display.init(ts3v_url_1, 1082312, 100);
                    </script>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="ts3server://91.121.153.92port=9987">Join TeamSpeak 3</a>
            </div>
        </div>
    </div>


</body>

</html>
